@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-class,
.icon-class svg,
.icon-class .icon-bg,
.icon-class .icon-bg svg {
  transition: all ease 0.3s;
}
.icon-class:hover svg {
  fill: white;
  cursor: pointer;
}
.icon-class:hover {
  color: white;
  cursor: pointer;
}
.icon-class:hover .icon-bg {
  background-color: white;
}
.icon-class:hover .icon-bg svg {
  fill: black;
}
.react-multiple-carousel__arrow--right {
  right: 0px !important;
  bottom: 50%;
}

input[type='range']#music-time-input {
  -webkit-appearance: none;
  background: hsla(0, 0%, 100%, 0.3);
  background-image: linear-gradient(#fff, #fff);
  background-size: 0%;
  background-repeat: no-repeat;
  border-radius: 2px;
}
input[type='range']#music-time-input::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
  background: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
input[type='range']#music-time-input:hover {
  background-image: linear-gradient(#1ed760, #1ed760);
}
input[type='range']#music-time-input:hover::-webkit-slider-thumb {
  visibility: visible;
}
input[type='range']#music-volume-input {
  -webkit-appearance: none;
  background: hsla(0, 0%, 100%, 0.3);
  background-image: linear-gradient(#fff, #fff);
  background-size: 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
}
input[type='range']#music-volume-input::-webkit-slider-thumb {
  visibility: hidden;
  -webkit-appearance: none;
  background: white;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
input[type='range']#music-volume-input:hover {
  background-image: linear-gradient(#1ed760, #1ed760);
}
input[type='range']#music-volume-input:hover::-webkit-slider-thumb {
  visibility: visible;
}
.alert-danger {
  background-color: #f8d7da;
  border-color: #f5c2c7;
  color: #842029;
}
.alert-success {
  background-color: #d1e7dd;
  border-color: #badbcc;
  color: #0f5132;
}

.hiddenBanner {
  opacity: 0;
  transform: translateX(1rem);
  transition: all 0.5s ease;
  visibility: hidden;
}
.triangle {
  position: absolute;
  top: 1.5rem;
  left: -1rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 12.5px 14px 12.5px;
  border-color: transparent transparent #0d72ea transparent;
  transform: rotate(270deg);
}
